.App {
  text-align: center;
}
body {
  background-image: url("background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: white;
}
.center-heading {
  text-align: center;
  margin-bottom: 50px;
  padding-top: 50px;
}

h1 {
  color: rgb(255 255 255);
}
h5 {
  color: rgb(255 255 255);
}
p {
  color: rgb(255 255 255);
}
.bodyColor {
  background-color: #21252994;
  padding-bottom: 50px;
}

.margin-card {
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 10px;
  margin-top: 50px;
}

.red {
  background-color: #ff000091;
}

.yellow {
  background-color: #ffff008c;
}

.green {
  background-color: #008000a8;
}
.white {
  background-color: white;
}

.placecenter {
  place-content: center;
}

.placeend {
  text-align: end;
}

.alignselfcenter {
  align-self: center;
  height: 30px;
}

.custom-select {
  font-family: cursive;
  text-align-last: center;
}

.card {
  border: 2px solid white;
}

.fontheading {
  font-family: cursive;
  font-size: 60px;
  margin-bottom: 30px;
}

.countryShow {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 50px;
  padding-top: 50px;
}


.leaflet-container {
  width: 100%;
  height: 80vh;
}

@media only screen and (max-width: 720px) {
  .margin-card {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 70px;
    margin-top: 50px;
  }

  .chartWrapper {
    position: relative;
    overflow: auto;
  }

  .chartContainer {
    position: relative;
    height: 800px;
    width: 150%;
    background-color: #212529b8;
    /* overflow: scroll; */
  }
}

.chartWrapper {
  position: relative;
  overflow: auto;
}

.chartContainer {
  position: relative;
  height: auto;
  width: 100%;
  background-color: #212529b8;
  /* overflow: scroll; */
}
.card-group {
  text-align: center;
}

.margin-top {
  margin-top: 100px;
}

.tooltip-good{
  color:#000000;
  background-color: #ffffff;
  border: 5px solid  #1EC82F;
  width: 65px;
  height: 50px;
  text-align: center;
  left: -15px;
    bottom: -74px;
}

.tooltip-good p {
  color: black;
  margin-bottom: 0px;
  margin-top: 0px;
}

* {box-sizing: border-box;}
table {
	border-collapse: collapse;
	width: auto;
	table-layout: fixed;
}
td,th {
	padding: 5px;
	width: 1000px;
  /* border-right: 1px solid #ccc; */
  table-layout: fixed;
  text-align: center;
  
}
thead tr {
	background: rgba(0, 0, 0, 0.767);
	color: #eee;
	display: block;
	position: relative;
}
tbody {
	display: block;
	height: 80vh;
	width: 100%;
	overflow-y: auto;
	overflow-x: hidden;
}
tbody tr:nth-child(even) {
  background: #ddd;
  color: #000000;
}