.App {
  text-align: center;
}
body {
  background-image: url('background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  color:white
}
.center-heading{
  text-align: center;
  margin-bottom: 50px;
  padding-top: 50px;
}

h1{
  color: rgb(255 255 255);
}
h5{
  color: rgb(255 255 255);
}
p{
  color: rgb(255 255 255);
}
.bodyColor{background-color: #21252994;}

.margin-card{
  margin-left: 200px;
  margin-right: 200px;
  margin-bottom: 70px;
  margin-top: 50px;

}

.red{
  background-color: #ff000091;
}

.yellow{
  background-color:#ffff008c;
}

.green{
  background-color:#008000a8;
}
.white{
  background-color:white;
}

.placecenter{
  place-content: center;
}

.placeend{
  text-align: end;
}

.alignselfcenter{
  align-self: center;
  height: 30px;
}

.custom-select{
  font-family: cursive;
}

.card{
  border: 2px solid white
}

.fontheading{
  font-family: cursive;
  font-size: 60px;
}

.countryShow{
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 50px;
  padding-top: 50px;
}

.width100{
  width:100%;
  border-collapse: unset;
}

table, th, td {
  border: 1px solid rgb(228, 214, 214);
  table-layout:fixed;    border-collapse:none;
}

@media only screen and (max-width: 720px) {
  .margin-card{
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 70px;
    margin-top: 50px;
  }
}

.chartWrapper {
  position: relative;
  overflow:auto;

}

.chartContainer {
  position: relative;
  height: 800px;
  width: 150%;
  /* overflow: scroll; */
}
.card-group {
      text-align: center
}